body{
  background-color: #050505;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #ebebeb;
}

hr{
  width: 70%;
  height: 10px;
  margin: auto;
  background-color: #6f4a8e;
  border: none;
}

a{
  font-size: 20px;
  color: #ebebeb;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color:#221f3b;
}

#ratings {
  background-color: #050505;
}

#get-in-touch{
  margin: 30px auto 30px auto;
}

.navbar-brand {
  color: #ebebeb;
  font-size: 2rem;
  font-weight: bold;
}

.carousel {
  position: relative;
  left: 15%;
  margin: 40px;
  width:1000px;
  height:580px;
}

.carousel-caption{
  font-size: 2rem;
}

.footer-container{
  background-color: #6f4a8e;
  padding: 50px 0 0;
  margin: 100px auto 0 auto;
  text-align: center;
}

.footer-link{
  margin: 50px;
  text-decoration: none;
  font-size: 20px;
  color: #ebebeb;
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover{
  color:#221f3b;
  text-decoration: none;
}

.copy-right{
  font-size: 0.75rem;
  padding: 20px 0;
  margin-bottom: 0;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  color: #ebebeb;
}

/* About Page */
.about-top-container{
  margin: 50px auto;
}

.profile-pic{
  border-radius: 50%;
  height: 20%;
  width: 20%;
  margin: 100px auto 20px;
}

.contact-me{
  margin: 50px auto;
}

.contact-message{
  margin: 20px auto 20px auto;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background:#6f4a8e;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  text-decoration: none;
}

.btn:hover {
  background: #221f3b;
  color: #ffffff;
  text-decoration: none;
}

/* Account Page */

.login-form{
  width: 300px;
  padding:40px;
  border-radius: 10%;
  position: relative;
  left: 35%;
  top: 40px;
  background: #221f3b;
  text-align: center;
}

.login-form h1{
  color:#ebebeb;
  text-transform: uppercase;
}

.login-form input[type = "text"], .login-form input[type = "password"]{
  border: 0;
  background: none;
  margin: 20px auto;
  border: 2px solid #ebebeb;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #ebebeb;
  border-radius: 24px;
  transition: 0.25s;
}

.login-form input[type = "text"]:focus,.login-form input[type = "password"]:focus{
  width:280px;
  border-color: #050505;
}

.login-form input[type = "submit"]{
  border: 0;
  background: none;
  margin: 20px auto;
  border: 2px solid #ebebeb;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: #6f4a8e;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.login-form input[type = "submit"]:hover{
  background: #ebebeb;
}
